:root 
{
    --accent-color: #8672FF;
    --base-color: white;
    --text-color: #2E2B41;
    --input-color: #F3F0FF;
}    
*
{
    margin:0;
    padding:0;
}
html
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
    font-weight: 200;
    text-align: center;
}
body
{
    display: flex;
    justify-content:center ;
    align-items: center;
    min-height: 100vh;
    background-color: #e7ddff;

}
.wrapper
{
    box-sizing: border-box;
    background-color: var(--base-color);
    width:30%;
    padding: 10px;
    border-radius: 20px 20px 20px 20px;
    height: 80vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1
{
    font-size: 3rem;
    font-weight: 900;

}
form
{
    width:min(400px,100%);
    margin-top:20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

}
form > div
{
    width:100%;
    display: flex;
    justify-content: center;

}
form label
{
    flex-shrink: 0;
    height: 50px;
    width:40px;
    background-color: var(--accent-color);
    fill:var(--base-color);
    color: var(--base-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px 0 0 10px;
    font-size:1.5rem;
    font-weight: 500;
}
form input,select
{
    box-sizing: border-box;
    flex-grow: 1;
    min-width: 0;
    height:50px;
    padding:1em;
    font:inherit;
    border-radius: 0 10px 10px 0;
    border: none;
    background-color: var(--input-color);
    transition: 150ms ease;
}
form input:hover
{
    border: 2px solid var(--accent-color);
}
form input:focus
{
    outline: none;
    border-color: var(--text-color);
}
div:has(input:focus) > label
{
    background-color: var(--text-color);
}
form input::placeholder
{
    color: var(--text-color);

}
form button
{
    margin-top: 10px;
    border:none;
    border-radius: 1000px;
    padding:0.85em 4em;
    background-color: var(--accent-color);
    color: var(--base-color);
    font:inherit;
    font-weight: 600;
    text-transform: uppercase;
    cursor:pointer;
    transition: 150ms ease;
}
form button:hover
{
    background-color: var(--text-color);
}
form button:focus
{
    outline: none;
    background-color: var(--text-color);
}
a:hover
{
    text-decoration: underline;
}
@media(max-width: 1100px)
{
    .wrapper
    {
        width:min(600px,100%);
        border-radius: 0;
    }
}
